<fieldset class="mb-5">
  <%= link_to Spree.t(:back_to_order), spree.order_url(@order)  %> |
  <%= link_to Spree.t(:back_to_return_history), spree.return_authorizations_path %>
</fieldset>
<h5><%= Spree.t(:return_request) %></h5>

<%= form_for [:admin, @order, @return_authorization] do |f| %>
  <fieldset>
    <%= render partial: 'form', locals: { f: f, display_only: false } %>
  </fieldset>
<% end %>